body{
    background-color: peachpuff;
}

h1{
    color: palevioletred;
    background-color: moccasin;
    font-family: 'Raleway', sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    
    }

.bg{
    height: 500px;
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/4b/cd/23/4bcd2373c7defb17e09227ac69633119.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p{
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-weight: 200;
    text-align: justify;
    text-indent: 12px;
}

a{
    color:palevioletred;
}

a:visited{
    color:purple;
}

a:hover{
    color: white;
}