:root{
    font-family: 'Raleway';
    box-sizing: border-box;
}

main{
    padding-top: 7rem;

}

nav.menu{
    position: fixed;
    background-color: lightcoral;
    width: 100%;
    height: 10rem;
    z-index: 1;
    text-decoration: none;
}

.spinnerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.faSpinner{
    margin-top: 3rem;
    margin: 4rem;
    font-size: 5rem;
    color: lavender;
}

table, td, th{
    border: 1px solid purple
}

table{
    font-size: 2.4rem;
    border-collapse: separate;
}

/* #tableComp{
    display: none;
} */

[data-company='GJC']{
    background-color: aquamarine;
}

table tr:first-child{
    background-color: lightpink;
    color: white;
}

table tr:nth-child(2n+3) {
    background-color: lightgray;
}

.bgTabela{
    height: 400px;
    width: 100%;
    background-image: url('https://i.pinimg.com/564x/33/bb/98/33bb9807ae51531c3b6bbe88696ae705.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1{
    color:blueviolet;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
    opacity: 1;
}

a{
    background: lightcoral;
    color: white;
    border: none;
    font-size: 2.8rem;
    padding: 0.6rem 2.4rem;
    margin: auto;
    cursor: pointer;
    width: 80%;
    transition: all .2s ease-in-out, background-color 1s ease-in-out;
    display: block;
    text-decoration: none;
}

/* [data-anchor="products"]{
    /* desabilita o botão
    visibility: hidden; */
/* 
    display: flex;
    transform: scale(.5) rotate(20deg); 
}*/

[data-anchor="products"]:hover{
    transform: scale(1.2);
    color: gainsboro;
    background-color: plum;
}

[data-anchor="team"]:hover{
    margin-top: 2rem;
    animation: pulse 2s infinite;
    animation-direction: alternate;
    transform: scale(1);
}

@keyframes pulse {
    0%{
        transform: scale(1);
        opacity: 1;
    }

    100%{
        transform: scale(1.35);
        opacity: .6;
    }
}

ul{
    text-decoration: none;
    list-style:none;
}

ol{
    list-style: upper-roman;
}

.liContato h3{
    top: 11rem;
    position: sticky;
    background-color: palevioletred;
}

.boxes{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    width: 200px;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 1px solid plum;
    display: inline-block;
    border-radius: 0.4rem;
    position: relative;
    flex: 30%;
}
/* 
.box:nth-child(1){
    float: none;
}

.box:nth-child(3){
    float: left;
} */

.box + span{
    display: none;
}

/* .box:nth-child(1){
    position: absolute;
    top: 0px;
    left: 30px;
}

.box:nth-child(2){
    position: fixed;
    top: 1.5rem;
    left: 3rem;
} */

.imgTabela{
    height: 10rem;
    width: 20rem;
    object-fit: cover;
}

@media screen and (min-width: 1000px) {
        .bgTabela{
            height: 40vh;
        }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    .bgTabela{
        height: 80vh;
    }
}

@media screen and (max-width: 767px) {
    table{
        display: none;
    }    
    h1{
        color: lightcoral;
    }
}

@media print{
    .bgTabela{
        display: none;
    }
}